<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TiendaJS</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>

    <div class="header">
        <div class="logo">
            <img class="img-logo" src="/resources/images/logoTienda.png">
            <h1>TiendaJS</h1>
        </div>
        <div class="links-capsule">
            <ul class="links">
                <li><a href="#clientesForm" data-form-id="clientesForm">Clientes</a></li>
                <li><a href="#productosForm" data-form-id="productosForm">Productos</a></li>
                <li><a href="#realizarVenta" data-form-id="realizarVenta">Realizar Venta</a></li>
                <li><a href="#inventario" data-form-id="inventario">Inventario</a></li>
                <li><a href="#carritoCompras" data-form-id="carritoCompras">Carrito de Compras</a></li>
            </ul>
        </div>
    </div>  

    <div class="content">
        <!--Diferentes formularios-->
        <div class="centered-box form-container" id="clientesForm" style="display: none;">
            <div class="left-content">
                <h2>Registro de Clientes</h2>
                <form class="form-cliente"> 
                    <div class="box">
                        <label>Identificación</label>
                        <img src="/resources/images/logoId.png">
                        <input type="number" id="identificacion" placeholder="Identificación">
                    </div>
                    <div class="box">
                        <label>Nombre</label>
                        <img src="/resources/images/logoNombre.png">
                        <input type="text" id="nombre" placeholder="Nombre">
                    </div>
                    <div class="box">
                        <label>Dirección</label>
                        <img src="/resources/images/logoDireccion.png">
                        <input type="text" id="direccion" placeholder="Dirección">
                    </div>
                    <button class="btnCliente" type="submit" id="subir"">Registrar Cliente</button>
                </form>
            </div>

            <div class="right-content">
                <div class="box-tablaClientes">
                    <h2>Gestión de Clientes</h2>
                    <div class="tabla" id="tablaClientes">
                        <!-- Aquí se genera dinamicamente la tabla de clientes -->
                    </div>
                    <button class="btnCliente" id="btnEliminarCliente">Eliminar Cliente</button>
                    <button class="btnCliente" id="btnActualizarCliente">Actualizar Cliente</button>
                </div>
            </div>
        </div>


        <div class="centered-box form-container" id="productosForm" style="display: none;">

            <div class="left-content">
                <h2>Registro de Productos</h2>
                <form class="form-producto">
                    <div class="box">
                        <label>Nombre</label>
                        <img src="/resources/images/logoNombreProducto.png">
                        <input type="text" id="nombre-producto" placeholder="Nombre">
                    </div>
                    <div class="box">
                        <label>Código</label>
                        <img src="/resources/images/logoCodigoProducto.png">
                        <input type="text" id="codigo-producto" placeholder="Código">
                    </div>
                    <div class="box">
                        <label>Precio</label>
                        <img src="/resources/images/logoPrecioProducto.png">
                        <input type="number" id="precio-producto" placeholder="Precio">
                    </div>
                    <div class="box">
                        <label>Cantidad</label>
                        <img src="/resources/images/logoCantidadProducto.png">
                        <input type="number" id="cantidad-producto" placeholder="Cantidad en inventario">
                    </div>
                    <button class="btnCliente" type="submit" id="subirProducto">Registrar Producto</button>
                </form>
            </div>

            <div class="right-content">
                <h2>Gestión de Productos</h2>
                <div class="box-tablaProductos">
                    <div class="tabla" id="tablaProductos">
                        <!-- Aquí se genera dinamicamente la tabla de productos -->
                    </div>
                    <button class="btnCliente" id="btnEliminarProducto">Eliminar Producto</button>
                    <button class="btnCliente" id="btnActualizarProducto">Actualizar Producto</button>
                </div>
            </div>
        </div>

        <div class="centered-box form-container" id="realizarVenta" style="display: none;">
            
            <div class="left-content">
                <h2>Información de la Venta</h2>
                <form class="form-venta">
                    <div class="box">
                        <label>Código</label>
                        <img src="/resources/images/logoCodigoProducto.png">
                        <input type="number" id="codigo-venta" placeholder="Código de venta">
                    </div>
                    <div class="box">
                        <label>Cliente</label>
                        <img src="/resources/images/logoId.png">
                        <input type="text" id="cliente-venta" placeholder="Id del cliente">
                    </div>
                    <div class="box">
                        <label>Fecha</label>
                        <img src="/resources/images/logoFechaVenta.png">
                        <input type="date" id="fecha-venta" placeholder="Fecha">
                    </div>
                    <div class="box">
                        <label>Total</label>
                        <img src="/resources/images/logoTotalVenta.png">
                        <input type="text" id="total-venta" placeholder="Total de la venta">
                    </div>
                    <button class="btnCliente" type="submit" id="subirVenta">Agregar Venta</button>
                </form>
            </div>

            <div class="right-content">
                <h2>Gestión de Ventas</h2>
                <div class="box-tablaVentas">
                    <div class="tabla" id="tablaVentas">
                        <!-- Aquí se genera dinamicamente la tabla de productos -->
                    </div>
                    <button class="btnCliente" id="btnEliminarVenta">Eliminar Venta</button>
                    <button class="btnCliente" type="submit" id="gestionarVenta">Gestionar Venta</button>
                </div>
            </div>

        </div>

        <div class="centered-box form-container" id="inventario" style="display: none;">
            <h2>Lista de productos</h2>
            <div class="box-tablaProductosInventario">
                <div class="tabla" id="tablaProductosInventario">
                    <!-- Aquí se genera dinamicamente la tabla de productos -->
                </div>
            </div>
        </div>

        <div class="centered-box form-container" id="carritoCompras" style="display: none;">

        </div>

    </div>

    <script src="/controller/IndexController.js" type="module"></script>
</body>
</html>