body {
    margin: 0;
    background: #ffffff;
    font-family: 'Quicksand', sans-serif;
}

/*Edicion del header*/

.header {
    background-color: #ffbf47;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo {
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.logo h1 {
    margin-top: 50px;
    font-size: 45px;
    color: #fbfef9;
}

.img-logo {
    height: auto;
    width: 80px;
}

.links-capsule {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
}

.links {
    list-style: none;
    text-decoration: none;
    gap: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fbfef9;
    font-weight: bold;
    font-size: 18px;
}

.links a {
    text-decoration: none;
    color: inherit;
}

@keyframes cambiaColor {
    0% { color: #ffbf47; } /* Color del enlace al inicio de la animación */
    100% { color: #070707; } /* Color del enlace al final de la animación */
}

.links a:hover {
    animation: cambiaColor 0.5s ease;
}

/*Edicion del contenido de la interfaz*/

.content {
    background-image: url("/resources/images/fondoPatron.png"); 
    background-position: center; 
    min-height: 525px; 
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}    

.centered-box {
    height: 900px;
    width: 800px;
    background-color: #fbfef9;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
    border-radius: 10px; 
    text-align: center; 
}

/*Animacion para los formularios*/

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
       opacity: 1;
       transform: translateY(0); 
    }
}

.form-container {
    animation: appear 0.8s ease-in-out;
}

/*Edicion de los diferentes formularios ----------------------------------------------------------*/


/*Edición del formulario de cliente*/

.form-cliente {
    font-size: 14px;
    font-weight: bold;
    color: #070707;
}

.form-cliente input {
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
    outline: 1px solid #FEBF00;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e2e2e2   ;
    outline-offset: 3px;
    padding: 3px 1rem;
    transition: 0.25s;
}

.form-cliente input:focus {
    outline-offset: 5px;
    background-color: #fff  
}

.form-cliente img {
    height: auto;
    width: 40px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
}


/*Edicion del boton xdddd*/
.btnCliente {
    margin-top: 20px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: inherit;
    font-size: 11px;
    font-weight: 600;
    color: #070707;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #ffeac2;
    border: 2px solid #ffbf47;
    border-radius: 0.75em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);   
}

.btnCliente::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffeac2;
    border-radius: inherit;
    -webkit-box-shadow: 0 0 0 2px #ffbf47, 0 0.625em 0 0 #ffeac2;
    box-shadow: 0 0 0 2px #ffcd70, 0 0.625em 0 0 #ffeac2;
    -webkit-transform: translate3d(0, 0.75em, -1em);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.btnCliente:hover {
    background: #ffeac2;
    -webkit-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em);
}

.btnCliente:hover::before {
    -webkit-box-shadow: 0 0 0 2px #ffcd70, 0 0.5em 0 0 #ffeac2;
    box-shadow: 0 0 0 2px #ffcd70, 0 0.5em 0 0 #ffeac2;
    -webkit-transform: translate3d(0, 0.5em, -1em);
    transform: translate3d(0, 0.5em, -1em);
}

.btnCliente:active {
    background: #ffeac2;
    -webkit-transform: translate(0em, 0.75em);
    transform: translate(0em, 0.75em);
}

.btnCliente:active::before {
    -webkit-box-shadow: 0 0 0 2px #ffcd70, 0 0 #ffeac2;
    box-shadow: 0 0 0 2px #ffcd70, 0 0 #ffeac2;
    -webkit-transform: translate3d(0, 0, -1em);
    transform: translate3d(0, 0, -1em);
}

.box-tablaClientes {
    margin-top: 50px;
}

.tabla {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tabla-clientes {
    border-collapse: collapse;
    width: 100%;
}

.tabla-clientes th, .tabla-clientes td {
    border: 1px solid #ddd;
    padding: 8px;
}

.tabla-clientes th {
    background-color: #f2f2f2;
    text-align: left;
}

.fila-cliente:nth-child(even) {
    background-color: #f2f2f2;
}

.tabla tr.seleccionado {
    background-color: lightblue;
}


